@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="vh-100 gradient-custom">
    <form method="post">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                <p class="text-white-50 mb-5">Please enter your login and password!</p>

                                <div class="form-outline form-white mb-4">

                                    <label asp-for="LoginForm.UserName">Username</label>
                                    <input type="text" asp-for="LoginForm.UserName" placeholder="Your username" /> <br />
                                    <span asp-validation-for="LoginForm.UserName" class="text-danger"></span>

                                </div>

                                <label asp-for="LoginForm.Password">Password</label>
                                <input type="password" asp-for="LoginForm.Password" placeholder="Your password" /><br />
                                <span asp-validation-for="LoginForm.Password" class="text-danger"></span>
                                <br />

                                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>